.author_section{
  height: 66vh;
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 300px;
    height: 300px;
  }
  .author_section_right {
    margin-top: -120px;

    & h3{
      font-size: 34px;
      padding-bottom:15px;
    }
    & p{
      font-size: 24px;
      text-align: left;
    }
  }
}